[submodule "extensions/export_ensemble"]
	path = extensions/export_ensemble
	url = git://github.com/symphonycms/export_ensemble.git
[submodule "extensions/markdown"]
	path = extensions/markdown
	url = git://github.com/symphonycms/markdown.git
[submodule "extensions/maintenance_mode"]
	path = extensions/maintenance_mode
	url = git://github.com/symphonycms/maintenance_mode.git
[submodule "extensions/selectbox_link_field"]
	path = extensions/selectbox_link_field
	url = git://github.com/symphonycms/selectbox_link_field.git
[submodule "extensions/jit_image_manipulation"]
	path = extensions/jit_image_manipulation
	url = git://github.com/symphonycms/jit_image_manipulation.git
[submodule "extensions/profiledevkit"]
	path = extensions/profiledevkit
	url = git://github.com/symphonycms/profiledevkit.git
[submodule "extensions/debugdevkit"]
	path = extensions/debugdevkit
	url = git://github.com/symphonycms/debugdevkit.git
[submodule "extensions/xssfilter"]
	path = extensions/xssfilter
	url = git://github.com/symphonycms/xssfilter.git
[submodule "extensions/subsectionmanager"]
	path = extensions/subsectionmanager
	url = git://github.com/nilshoerrmann/subsectionmanager.git
[submodule "extensions/publish_tabs"]
	path = extensions/publish_tabs
	url = git://github.com/nickdunn/publish_tabs.git
[submodule "extensions/enhancedtaglist"]
	path = extensions/enhancedtaglist
	url = git://github.com/czheng/enhancedtaglist.git
[submodule "extensions/autocomplete_tags"]
	path = extensions/autocomplete_tags
	url = git://github.com/tachyondecay/autocomplete_tags.git
[submodule "extensions/incrementnumberfield"]
	path = extensions/incrementnumberfield
	url = git://github.com/nickdunn/incrementnumberfield.git
[submodule "extensions/numberfield"]
	path = extensions/numberfield
	url = git://github.com/symphonycms/numberfield.git
[submodule "extensions/datemodified"]
	path = extensions/datemodified
	url = git://github.com/czheng/datemodified.git
[submodule "extensions/system_date_field"]
	path = extensions/system_date_field
	url = git://github.com/symphonycms/system_date_field.git
