[submodule "www/extensions/export_ensemble"]
	path = www/extensions/export_ensemble
	url = git://github.com/symphonycms/export_ensemble.git
[submodule "www/extensions/markdown"]
	path = www/extensions/markdown
	url = git://github.com/symphonycms/markdown.git
[submodule "www/extensions/maintenance_mode"]
	path = www/extensions/maintenance_mode
	url = git://github.com/symphonycms/maintenance_mode.git
[submodule "www/extensions/selectbox_link_field"]
	path = www/extensions/selectbox_link_field
	url = git://github.com/symphonycms/selectbox_link_field.git
[submodule "www/extensions/jit_image_manipulation"]
	path = www/extensions/jit_image_manipulation
	url = git://github.com/symphonycms/jit_image_manipulation.git
[submodule "www/extensions/profiledevkit"]
	path = www/extensions/profiledevkit
	url = git://github.com/symphonycms/profiledevkit.git
[submodule "www/extensions/debugdevkit"]
	path = www/extensions/debugdevkit
	url = git://github.com/symphonycms/debugdevkit.git
[submodule "www/extensions/xssfilter"]
	path = www/extensions/xssfilter
	url = git://github.com/symphonycms/xssfilter.git
[submodule "www/extensions/subsectionmanager"]
	path = www/extensions/subsectionmanager
	url = git://github.com/hananils/subsectionmanager.git
[submodule "www/extensions/publish_tabs"]
	path = www/extensions/publish_tabs
	url = git://github.com/nickdunn/publish_tabs.git
[submodule "www/extensions/enhancedtaglist"]
	path = www/extensions/enhancedtaglist
	url = git://github.com/symphonists/enhancedtaglist.git
[submodule "www/extensions/autocomplete_tags"]
	path = www/extensions/autocomplete_tags
	url = git://github.com/tachyondecay/autocomplete_tags.git
[submodule "www/extensions/incrementnumberfield"]
	path = www/extensions/incrementnumberfield
	url = git://github.com/nickdunn/incrementnumberfield.git
[submodule "www/extensions/numberfield"]
	path = www/extensions/numberfield
	url = git://github.com/symphonycms/numberfield.git
[submodule "www/extensions/datemodified"]
	path = www/extensions/datemodified
	url = git://github.com/symphonists/datemodified.git
